@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+15&display=swap%27');

.jersey-15-regular {
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#2761c3;
    font-size: 90px;
    padding: 25px;
    border: 5px solid #2761c3;
}

.jersey-15-light {
    font-family: "Jersey 15", sans-serif;
    font-weight: 300;
    font-style: normal;
    color:#2761c3;
    font-size: 90px;
    padding: 25px;
    border: 5px solid #2761c3;
}

.container{
    background-color: #000a23;
    /* background-image: radial-gradient(#ffffff1b 5%, #0000001b 95%); */
    opacity: 0.8;
    background-image: radial-gradient(circle at center center, #0f124e, #000a23), repeating-radial-gradient(circle at center center, #0f124e, #0f124e, 10px, transparent 20px, transparent 10px);
    background-blend-mode: color-dodge;
}

.prompt{
    display: flex;
    justify-content: center;
}

.button-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 10px;
}

.buttons{
    padding-right: 10px;
    padding-left: 10px;
}

.glitch-button, .glitch-button::after {
    padding: 10px 0;
    width: 200px;
    font-size: 20px;
    border: 1px solid #2760c33c;
    border-radius: 5px;
    color: #2761c3;
    background-color: transparent;
    position: relative;
}

.respawn::after {
    --move1: inset(50% 50% 50% 50%);
    --move2: inset(31% 0 40% 0);
    --move3: inset(39% 0 15% 0);
    --move4: inset(45% 0 40% 0);
    --move5: inset(45% 0 6% 0);
    --move6: inset(14% 0 61% 0);
    clip-path: var(--move1);
    content: 'RESPAWN';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
}

.quit::after {
    --move1: inset(50% 50% 50% 50%);
    --move2: inset(31% 0 40% 0);
    --move3: inset(39% 0 15% 0);
    --move4: inset(45% 0 40% 0);
    --move5: inset(45% 0 6% 0);
    --move6: inset(14% 0 61% 0);
    clip-path: var(--move1);
    content: 'QUIT';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
}

.glitch-button:hover::after {
    animation: glitch_4011 1s;
    text-shadow: 10 10px 10px black;
    animation-timing-function: steps(2, end);
    text-shadow: -3px -3px 0px #2761c3, 3px 3px 0px #27c39f;
    background-color: transparent;
    border: 3px solid #2761c3;
}

.glitch-button:hover {
    text-shadow: -1px -1px 0px #2761c3, 1px 1px 0px #27c39f;
}

.glitch-button:hover {
    background-color: transparent;
    border: 1px solid #2761c3;
    box-shadow: 0px 10px 10px -10px #2761c3;
}

@keyframes glitch_4011 {
    0% {
    clip-path: var(--move1);
    transform: translate(0px,-10px);
    }

    10% {
    clip-path: var(--move2);
    transform: translate(-10px,10px);
    }

    20% {
    clip-path: var(--move3);
    transform: translate(10px,0px);
    }

    30% {
    clip-path: var(--move4);
    transform: translate(-10px,10px);
    }

    40% {
    clip-path: var(--move5);
    transform: translate(10px,-10px);
    }

    50% {
    clip-path: var(--move6);
    transform: translate(-10px,10px);
    }

    60% {
    clip-path: var(--move1);
    transform: translate(10px,-10px);
    }

    70% {
    clip-path: var(--move3);
    transform: translate(-10px,10px);
    }

    80% {
    clip-path: var(--move2);
    transform: translate(10px,-10px);
    }

    90% {
    clip-path: var(--move4);
    transform: translate(-10px,10px);
    }

    100% {
    clip-path: var(--move1);
    transform: translate(0);
    }
}
  
  